torch
torch-optimizer
torchaudio
torchmetrics
torchvision
transformers
streamlit








































































































































































































































































































